.App {
  text-align: center;
}

body{
  background-color: white;
}

.darkMode_off{
  background-color: white;
}


.darkMode{
  color:white;
  background-color: #1F2022;
}

button{
  background-color: white;
  font-size: 2vw;
  margin-top: 5vh;
}

.button-darkMode{
  background-color:pink;
  color:white;
  font-size: 2vw;
  margin-top: 5vh;
}
